PORT=3001
RUN_WORKER_IN_SERVER=true

API_FOOTBALL_HOST=v3.football.api-sports.io
API_FOOTBALL_KEY=

FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=

LIVE_ODDS_BATCH_SIZE=8
API_CACHE_COLLECTION=api_cache
